   <!-- footer -->
   
  <footer class="showcase-footer text-center">
    <div class="container flex">
      <div class="social-media">
        <h4> Let's Connect </h4>
        <a href="https://twitter.com/kevin_nyarango" target="_blank"> <i class="fab fa-twitter"> </i></a>
        <a href="https://www.linkedin.com/in/kevin-nyarang-o-291a991a3/" target="_blank"> <i class="fab fa-linkedin"> </i></a>
        <a href="https://github.com/Kevin-Nyarango" target="_blank"> <i class="fab fa-github"> </i></a>
        <a href="https://www.facebook.com/samson.kevin.52056/" target="_blank"> <i class="fab fa-facebook"> </i></a>
        <a href="https://www.youtube.com/channel/UCZFeYz8IDewepE-Kf7dfo_Q" target="_blank"> <i class="fab fa-youtube"> </i></a>
      </div>
      <div class="quick-links">
        <h4>Quick Links</h4>
        <nav> 
        <ul>
          <li ><a href="{% url 'base:home' %}">Home</a></li>
          <li ><a href="{% url 'base:about' %}">About</a></li>
          <li><a href="{% url 'base:project-archive' %}">Projects</a></li>
          <li><a href="{% url 'base:services' %}">Services</a></li> 
        </ul>
        </nav>
      </div>
      <div class="copyright">
        <h3><a href="{% url 'base:home' %}">Kevo.</a></h3>
        <span> Copyright &copy; 2022 | All Rights Reserved</span>
      </div>
    </div>
  
    </footer>